html {
  /** 主题色 */
  --n-color-primary: var(--el-color-primary);

  --n-sidebar-width: 160px;
  --n-sidebar-hide-width: 64px;
  --n-sidebar-item-height: 42px;
  --n-sidebar-text-color: #fff;
  --n-sidebar-bg-color: #262935;
  --n-sidebar-index: 1001;
  --n-sidebar-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.6);

  --n-navbar-height: 50px;
  --n-navbar-bg-color: #fff;
  --n-navbar-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  --n-transition-duration: 0.32s;
  --n-transition-duration-fast: 0.16s;
}
