html {
  /** 主题色 */
  --n-color-primary: #409eff;

  /** 分类侧栏宽度 */
  --n-category-sidebar-width: 200px;

  /** 移动端分类顶栏高度 */
  --n-category-bar-height: 44px;

  /** 分类列表项高度 */
  --n-category-item-height: 42px;
}
